<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Default_Host" value="localhost" />
    <add key="Default_Port" value="25" />
    <add key="Default_Username" value="" />
    <add key="Default_Password" value="" />
    <add key="Default_FromAddress" value="from@notarealaddress_123456.testme" />
    <add key="Default_ToAddress" value="to@notarealaddress_123456.testme" />
    <add key="Default_Subject" value="This is a test mail at {date}" />
    <add key="Default_Body" value="This is a test mail body" />
    <add key="Default_IsBodyHtml" value="false" />
    

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>